$primary-blue: rgb(56, 179, 253);

.nav-bar { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 25px;
  background-color: white;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  width: 500px;
  .link-to-about {
    text-decoration: none;
    color: $primary-blue;
    font-weight: 600;
    font-size: 18px;
  }
}

.nav-bar-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
}

.icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: 22px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: 55px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background-color: rgb(68, 60, 60);
  color: #ffffff;
}

.modals {
  display: flex;
}

.demo-button-container {
  display: flex;
  // margin-top: 10px;
  margin-bottom: 10px;
  // padding: 5px;
  z-index: 0;
}

.guest-user-submit:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.guest-user-submit {
  
  width: 100%;
  display: inline-block;
  border: 0.1em solid white;
  background-color: $primary-blue;
  // margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  // padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.user-session-container {
  width: 100px;
  height: 60px;
  .dropbtn {
    background-color: white;
    border: solid white;
  }
  .dropbtn:hover {
    background-color: $primary-blue;
  }
  img {
    object-fit: contain;
    max-width: 60px;
    max-height: 60px;
    cursor: pointer;
  }
}


.user-session-content {
  // display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  z-index: 1;
}

.logo-home-link > img {
  
}

// .user-session-container:hover .user-session-content {
//   display: block;
//   background-color: white;
//   .session-button {
//     background-color: $primary-blue;
//     color: white;
//   }
//   .session-button:hover {
//     background-color: white;
//     color: $primary-blue;
//   }
// }
