@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
$pt-sans: 'PT Sans', sans-serif;
$primary-blue: rgb(56, 179, 253);
// $primary-gray: #8080801c;

.nav-bar { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 25px;
  background-color: white;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  width: 500px;

  a {
    font-weight: 600;
    font-size: 18px;
    color: $primary-blue;
  }
}

.nav-bar-item:hover {
  color: rgb(43, 140, 201);
}

.nav-bar-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.modals {
  display: flex;
}

.demo-button-container {
  display: flex;
  // margin-top: 10px;
  margin-bottom: 10px;
  // padding: 5px;
  z-index: 0;
}

.guest-user-submit:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.guest-user-submit {
  
  width: 100%;
  display: inline-block;
  border: 0.1em solid white;
  background-color: $primary-blue;
  // margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  // padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.user-session-container {
  .dropbtn {
    background-color: white;
    border: solid white;
    margin: 0px;
    padding: 0px;
  }
  img {
    padding: 8px;
    object-fit: contain;
    max-width: 60px;
    max-height: 60px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #bbbac0;
  }
}

.user-session-content {
  // display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  z-index: 1;
  margin-right: 20px;
  right: 5px;
  border: 1px solid #bbbac0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div {
    margin: 6px;
  }
}

.user-name-container {
  border-bottom: 1px solid #bbbac0;
  padding-bottom: 8px;
}

.profile-link-container {
  border-bottom: 1px solid #bbbac0;
  padding-bottom: 8px;
}
// .logo-home-link > img {
  
// }

// .user-session-container:hover .user-session-content {
//   display: block;
//   background-color: white;
//   .session-button {
//     background-color: $primary-blue;
//     color: white;
//   }
//   .session-button:hover {
//     background-color: white;
//     color: $primary-blue;
//   }
// }
