@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
$pt-sans: 'PT Sans', sans-serif;
$primary-blue: rgb(56, 179, 253);
$primary-gray: #8080801c;

.main-splash {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2808&q=80);
  height: 75vh;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: 25% 65%;
  background-size: cover;
  // border: 1px solid #eeeeee;
  border-radius: 4px;
}

.parent-main {
  background-color: $primary-gray;
}

.title-splash{
  color: black;
  padding: 25px;
  background-color: white;
  display: inline-block;
  border-radius: 30px;
  box-shadow: 11px 20px 20px 0px #353535, 0 6px 20px 0 rgb(0, 0, 0 / 10%);
  h3 {
    font-size: 24px;
    font-family: $pt-sans;
    font-weight: 700;
    margin-bottom: 8px;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  box-sizing: border-box;
  justify-content: space-evenly;
  width: 60%;
  height: 80%;
  margin: 0 auto;
}

.get-started-button {
  background-color: $primary-blue;
  padding: 10px;
  color: #fff;
  font-family: $pt-sans;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

.get-started-button:hover {
  cursor: pointer;
}

.post-cards-container {
  display: grid;
  margin: 0 auto;
  width: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; 
  column-gap: 35px;
  row-gap: 35px;
  margin-top: 35px;
}

.card-header {
  margin: 0 auto;
  width: 60%;
  margin-top: 35px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header-car {
  margin-left: 6px;
  color: #F70000;
  font-size: 30px;
}