@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
$pt-sans: 'PT Sans', sans-serif;
$primary-blue: rgb(56, 179, 253);

.create-post-container {
  display: flex;
  margin: 1em auto;
  height: 600px;
  border: 1px solid #bbbac0;
  border-radius: 4px;
  width: 800px;
  background-color: #fff;
  font-family: $pt-sans;
  div {
    height: 80%;
    input {
      text-indent: 10px;
      padding: 10px;
      width: 95%;
      border-radius: 4px;
      border: 1px solid #bbbac0;
      padding-inline-start: 1px;
    }
    .invalidInput {
      border-color: red;
    }
    
    input[type=number], input[type=datetime-local] {
      margin-top: 5px;
    }
  }
  span {
    display: flex;
    justify-content: center;
  }
  p {
    font-size: 12px;
    display: block;
    color: red;
    margin-left: 10px;
    font-weight: lighter;
  }
  .form-spacing {
    margin: 10px;
  }
  .post-submit-button {
    background-color: $primary-blue;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
  }
}

.currency-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-img {
  background: url(https://images.unsplash.com/photo-1584826234958-707f466b6e9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80) no-repeat;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  h3 {
    color: white;
    font-size: 42px;
    font-weight: 700;
    font-family: $pt-sans;
    padding-top: 180px;
  }
}

.post-page {
  background-color: $primary-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99vh;
}

.post-submit-button:hover {
  cursor: pointer;
}



.capacity-container {
  display: flex;
  justify-content: space-between;
}

.capacity-input {
  width: 25%;
}

.passenger-input {
  width: 25%;
}
