$primary-gray: #8080801c;

.post-index-main-content {
  display: flex;
}

.posts-index-container {
  width: 50%;
  overflow-y: auto;
  height: 80vh;
  margin-left: 40px;
}

.maps-container {
  width: 50%;
}

.posts-container {
  background-color: $primary-gray;
}