@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
$pt-sans: 'PT Sans', sans-serif;
$primary-gray: #8080801c;
$primary-blue: rgb(56, 179, 253);
$primary-pink: #f39e9e;

bold {
  font-weight: bold;
}

.post-show {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  font-family: $pt-sans;
  padding-bottom: 10em;
  h2, h3, h4 {
    font-size: 3em;
    text-align: center;
    margin-top: 1.5em;
  }
  h3 {
    font-size: 1.7em;
    font-weight: normal;
  }
  h4 {
    margin-top: 1.5em;
    font-size: 1.5em;
    font-weight: normal;
  }
  p {
    font-size: 1.3em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2.5em;
  }
  .post-show-info {
    display: flex;
    justify-content: center;
    .post-show-description {
      margin: 5em;
      margin-left: 5em;
      width: 85%;
      border-top: 2px solid $primary-blue;
      border-bottom: 2px solid $primary-blue;
    }
    .post-show-box {
      background-color: white;
      width: 18em;
      font-size: 1.1em;
      display: flex;
      flex-direction: column;
      text-align: center;
      line-height: 1.5em;
      margin-top: 4.5em;
      margin-right: 3.5em;
      padding: 1em;
      border: 1px solid lightgray;
      box-shadow: 0.1em 0.1em 1em lightgray;
      border-radius: 0.5em;
      max-height: 9.5em;
      position: -webkit-sticky;
      position: sticky;
      top: 1em;
      button {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 0.7em;
        font-weight: bold;
        background: $primary-pink;
        margin-top: 2em;
        padding: 0.6em;
        border: 0.1em solid $primary-gray;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5em;
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          color: #000000;
          background-color: #FFFFFF;
        }
        &:active {
          box-shadow: 0.1em 0.1em 0.1em lightgray inset;
        }
      }
    }
  }
}

.post-show-driver {
  text-align: center;
  font-size: 1.5em;
  .post-show-driver-profile {
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 0.1em solid $primary-blue;
    border-radius: 0.5em;
    max-width: 20%;
    margin: 1em auto;
    padding: 0.2em;
    box-shadow: 0.1em 0.1em 0.1em lightgray;
  }
}

.post-show-details {
  width: 80%;
  letter-spacing: 0.1em;
  line-height: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 5em;
  font-size: 1.3em;
  bold {
    font-size: 1.3em;
  }
  & > li {
    margin: 1em;
  }
  .post-show-detail-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.post-show-marker-box {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0.8em;
  margin-top: -1em;
  margin-bottom: 1em;
}

 .post-show-popup {
   background-color: $primary-pink;
   color: white;
   font-size: 0.5em;
   & > h3 {
     letter-spacing: 0.1em;
     text-align: center;
     padding-bottom: 1em;
   }
 }