@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
$pt-sans: 'PT Sans', sans-serif;
$primary-blue: rgb(56, 179, 253);

.post-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: $pt-sans;
  h2 {
    font-size: 3em;
  }
  p {
    font-size: 1.3em;
  }
  hr {
    width: 80%;
    border: 1px solid $primary-blue;
  }
}