@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
$pt-sans: 'PT Sans', sans-serif;
$primary-blue: rgb(56, 179, 253);
$primary-gray: #8080801c;

.prof-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 50px;
    }
}
.user-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 25px;
}

.prof-user-info {
    display: flex;
    padding: 5px;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 10px;

}
.more-prof-user-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 10px;
    p {
        margin-right: 5px;
    }
}

.prof-posts-container {
    font-size: 20px;
    margin-left: 5%;
    margin-top: 20px;
}
.prof-requests-container {
    font-size: 20px;
    margin-left: 5%;
    margin-top: 20px;
}

.prof-posts {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $primary-blue;
    color: #ffffff;
    font-size: 18px;

    div {
        cursor: pointer;
        margin: 8px;
    }
}

.prof-requests {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $primary-blue;
    color: #ffffff;
    font-size: 18px;

    div {
        cursor: pointer;
        margin: 8px;
    }
}

.user-rides {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 70vh;
}

.user-requests {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 70vh;
}

.ride-container {
    display: flex;
}