@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
$pt-sans: 'PT Sans', sans-serif;
$primary-blue: rgb(56, 179, 253);

.search-form-container {
  display: flex;
  flex-direction: column;
  font-family: $pt-sans;
}

.search-form {
  display: flex;
  flex-direction: column;
  input {
    margin: 10px;
    padding: 8px 16px;
    border: 1px solid #bbbac0;
    border-radius: 8px;
  }
}